.start-page-container{
    
}

.login-window-container{
    z-index: 0;

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}

.top-ellipse, .bottom-ellipse{
    z-index: 10;
    position: absolute;
    
}
.top-ellipse {
    top: -380px;
    left: -270px;

    width: 1260px;
    height: 650px;
    filter: drop-shadow(15px 10px 10px #0000009f);
}
.bottom-ellipse {
    bottom: -460px;
    right: -660px;

    width: 1420px;
    height: 700px;
    filter: drop-shadow(-10px -5px 10px #0000009f);
}

.dot-graph {
    z-index: -10;
    position: absolute;

    top: -480px;
    left: -270px; 
    width: 1224px;
    height: 1584px;
}

.login-header{
    z-index: 20;
    position: absolute;
    color: var(--dark-grey);
    filter: drop-shadow(4px 4px 0px #00000052);
    font-size: 100px;
    top: 30px;
    left: 50px;
}
.log-sign-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}
.log-sign-wrapper input {
    padding: 6px;
    border-radius: 15px;
    border: none;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.322);
}
.log-sign-wrapper input:hover {
    
    box-shadow: 0px 0px 4px #FFC107;
    background-color: rgba(0, 0, 0, 0.849);

}

@media only screen and (max-width: 774px) {
    .login-window-container{
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        right: auto !important;
    }
    .login-header{
        top: 10% !important; 
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

@media only screen and (min-width: 2000px) {
    .bottom-ellipse{
        width: 1620px;
        height: 740px;
    }
    .login-window-container{
        top: 50% !important;
        left: 70% !important;
        transform: translate(-50%, -50%) !important;
        right: auto !important;
    }
}

@media only screen and (max-width: 1100px) {
    .bottom-ellipse{
        width: 1400px;
        height: 600px;

        bottom: -560px !important;
        right: -760px !important;
    }
    
}

