.wrapper {
    margin: 0rem;
    padding: 3px;
    min-width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--cardtext-white);
    border-radius: 13px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  
.wrapper span {
    padding: 0px 10px 0px 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wrapper span:hover {
    background-color: rgba(0,0,0,0.1);
}

.wrapper input {
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: var(--light-grey);
    text-align: inherit;
    width: 30px;
}
  
.num {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}