.login-container {
    background-color: var(--vibrant-yellow);
    border: 1px solid var(--vibrant-yellow);
    border-radius: 24px;
    display: flex;
    
    vertical-align: middle;
    padding: 0.35rem 1.7rem;
    
}

a {
    text-decoration: none !important;
    color: black !important;
    list-style: none !important;
    font-size: 34px !important;
}

.navbar-item {
    margin-top: auto;
    margin-bottom: auto;
}

.svg-button {
    margin: 0 auto;
    display: block;
}